@keyframes graphicsIn {
    from{height: 0px;}
    to{height: 100px;}
}

#console {
    display: none;
    height: 100px;
    width: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: black;
    -webkit-animation-name: wkgraphicsIn;
    -webkit-animation-duration: 1s;
    animation-name: graphicsIn;
    animation-duration: 1s;
}
